table {
    margin: 0 auto;
    padding-top: 30px;
}

.aboutme {
    background-color: #90ee90;
    padding: 15px 26px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid darkgreen;
    margin: 20px auto;
}

.about-me {
    width: 50%;
    margin: auto;
}