body {
    background-color: #90ee90;
}

#loginform a {
    color: darkgreen;
    text-decoration: none;
}


#loginform a:hover {
    color: #66cc00;
}

.login-header {
    background-color: #90ee90;
    padding: 50px 20px;
}

.welcome {
    background-color: #f2f2f2;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
}

#loginform [type=email],
#loginform [type=password] {
    width: 50%;
    padding: 12px 26px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#loginform [type=submit] {
    width: 30%;
    background-color: #008000;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginform[type=submit]:hover {
    background-color: #66cc00;


}